//====================================================================================================
.header {
   &__logo {
      @media (max-width: $mobile) {
         display: none;
      }
   }
   &__container {
      @media (max-width: $mobile) {
         position: fixed;
         width: 100%;
         box-sizing: border-box;
      }
   }
   &._header-scroll {
      .menu-open {
         .header__container {
            background: #e5e5e5;
         }
      }
   }
}
.burger {
   @media (max-width: $mobile) {
      position: relative;
      padding-left: 20px;
      &::after {
         content: "";
         position: absolute;
         width: 48px;
         height: 48px;
         border-radius: 50%;
         background: #e5e5e5;
         top: -16px;
         left: -9px;
      }
   }
}
.menu {
   display: flex;
   @media (max-width: $mobile) {
      height: 102px;

      justify-content: end;
      align-items: center;
   }
   &__wrapper {
      flex: 0 1 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 142px;
      transition: all 0.3s ease 0s;
      @media (max-width: $mobile) {
         height: 102px;
         transform: translateY(-150%);
      }
   }
   &__list {
      display: flex;
      justify-content: space-between;
      flex: 0 1 33%;
   }

   &__item {
   }

   &__link {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      transition: all 0.3s ease 0s;
      &:hover {
         border-bottom: 1px solid #a1b29f;
      }
   }

   &__icon {
      flex: 0 1 30px;
   }
}
.menu-open {
   .menu {
      flex-direction: column-reverse;
      height: 100vh;
      align-items: center;
      transition: all 0.5s ease 0s;
      background: #e5e5e5;
      &__wrapper {
         transform: translateY(0%);
         flex-direction: column;
         flex: 0 1 100%;
      }
   }
   .menu__list {
      flex-direction: column;
      align-items: center;
      flex: 0 1 100%;
      width: 100%;
      justify-content: space-around;
   }
   .menu__icon {
      flex: 0 1 30px;
      justify-content: center;
   }
   .burger {
      align-self: flex-end;
      padding-top: 50px;
   }
}
//====================================================================================================

//Burger

.icon-menu {
   display: none;
   @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: 30px;
      height: rem(15);
      cursor: pointer;
      z-index: 5;
      span,
      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         right: 19px;
         position: absolute;
         width: 100%;
         height: rem(3);
         background-color: #57463a;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: calc(50% - rem(1));
      }
      .menu-open & {
         span {
            width: 0;
         }
         &::before,
         &::after {
         }
         &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
         }
         &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
         }
      }
   }
}
