//====================================================================================================
.row {
   &__title {
      @include adaptiveValue("padding-top", 160, 90);
      @include adaptiveValue("margin-bottom", 100, 60);
   }

   &__wrapper {
      display: flex;
      @media (max-width: $mobile) {
         flex-direction: column;
      }
      &_promo {
         border-top: 1px solid #000000;
         border-bottom: 1px solid #000000;
         @media (max-width: $mobile) {
            flex-direction: column-reverse;
            border: none;
         }
      }
      &_famally {
         @media (min-width: $mobile) {
            background-color: #ebeeeb;
         }
      }
      &_mebel {
         background-color: #e3dace;
      }
      &_master {
         background-color: #d4cdc3;
      }
   }

   &__img {
      flex: 0 1 50%;
      max-height: 774px;
      overflow: hidden;
      &_famally {
         max-height: 475px;
      }
      &_mebel {
         max-height: 536px;
      }
      &_master {
         max-height: 536px;
      }
      @media (max-width: $mobile) {
         max-height: 415px;
         height: 415px;
         width: 100%;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__content {
      flex: 0 1 562px;
      display: flex;
      align-items: center;
      padding: 0px 15px 0px 38px;
      @media (max-width: $mobile) {
         height: 100vh;
         padding: 30px 15px 0px 38px;
      }
      &_famally {
         height: auto;
         @media (max-width: $mobile) {
            flex: 0 1 auto;
         }
      }
      &_mebel {
         height: auto;
         padding-bottom: 40px;
         @media (max-width: $mobile) {
            flex: 0 1 auto;
         }
      }
      &_master {
         height: auto;
         padding-bottom: 40px;
         @media (max-width: $mobile) {
            flex: 0 1 auto;
         }
      }
   }

   &__inner {
      max-width: 600px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @media (max-width: $mobile) {
         height: 100vh;
         overflow: hidden;
         justify-content: space-between;
      }
      &_famally {
         height: auto;
      }
      &_mebel {
         height: auto;
      }
      &_master {
         height: auto;
      }
   }

   &__label {
      display: block;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      padding-bottom: 17px;
      padding-top: 15px;
      @media (max-width: $mobile) {
         max-width: 200px;
         padding-bottom: 40px;
         padding-top: 40px;
      }
   }

   &__sub-title {
      max-width: 514px;
      padding-bottom: 40px;

      @media (max-width: $mobile) {
         padding-bottom: 20px;
      }
      &_small {
         font-size: 24px;
      }
   }

   &__desc {
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;
      padding-bottom: 20px;
      &:last-of-type {
         @include adaptiveValue("padding-bottom", 70, 40);
      }
   }

   &__socials {
      align-self: flex-end;
      display: flex;
      padding-top: 15px;
      padding-bottom: 15px;
      @media (max-width: $mobile) {
         padding-top: 27px;
         align-self: flex-start;
         padding-bottom: 40px;
      }
      a {
         &:not(:last-child) {
            margin-right: 40px;
         }
      }
   }

   &__tumblr {
   }

   &__twitter {
   }

   &__facebook {
   }
}

.brand {
   &__container {
      @include adaptiveValue("padding-top", 160, 90);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 100, 60);
      width: 100%;
   }

   &__items {
      display: flex;
      margin-bottom: 10px;
      @media (max-width: $mobile) {
         flex-direction: column;
         width: 100%;
         flex: 0 1 auto;
      }
   }

   &__item {
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #323232;
      padding-bottom: 14px;
      border-bottom: 3px solid #715b4b;
      &:not(:last-child) {
         margin-right: 46px;
      }
      flex: 0 1 33%;
      @media (max-width: $mobile) {
         &:not(:first-child) {
            padding-top: 40px;
         }

         &:not(:last-child) {
            margin-right: 0px;
         }
      }
   }
}
.age {
   &__container {
      @include adaptiveValue("padding-top", 160, 90);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 100, 60);
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $mobile) {
      }
   }

   &__item {
   }
}

.item {
   cursor: pointer;
   flex: 0 1 25%;
   border: 1px solid #000000;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   @include adaptiveValue("height", 251, 184);
   transition: all 0.5s ease 0s;
   @media (max-width: $mobile) {
      flex: 0 1 50%;
   }
   &:hover {
      background: #a1b29f;
      img {
         transform: translateY(-10px);
      }
      .item__title {
         font-weight: 400;
      }
   }
   img {
      display: block;
      margin-bottom: 20px;
      width: 100px;
      height: 100px;
      transition: all 0.5s ease 0s;
   }

   &__title {
      display: block;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 102.99%;
      color: #323232;
   }
}
.video {
   &__container {
      @include adaptiveValue("padding-top", 160, 90);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 100, 20);
   }

   &__block {
      height: 700px;
      @include adaptiveValue("height", 700, 227);

      video {
         width: 100%;
         height: 100%;
      }
   }
}
.seal {
   &__container {
      @include adaptiveValue("margin-top", 160, 90);

      @include adaptiveValue("margin-bottom", 160, 90);
   }

   &__inner {
      border: 1px solid #715b4b;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 92px;
      @include adaptiveValue("padding-bottom", 179, 164);
      position: relative;
      img {
         position: absolute;
         @include adaptiveValue("width", 152, 69);
         @include adaptiveValue("height", 150, 68);
         @include adaptiveValue("right", 62, 7);
         @include adaptiveValue("bottom", 38, 64);
      }
   }

   &__title {
      max-width: 658px;
      text-align: center;
      padding-bottom: 40px;
   }
   &__wrapper {
      border: 7px solid #a1b29f;
      @include adaptiveValue("padding", 13, 5);
      box-sizing: border-box;
   }
   &__text {
      max-width: 922px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      @include adaptiveValue("font-size", 24, 16);
      line-height: 150%;
      color: #000000;
      padding: 0 10px;
   }
}
.works {
   &__container {
      @include adaptiveValue("padding-top", 160, 90);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 100, 60);
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $mobile) {
      }
   }
}

.work {
   cursor: pointer;
   flex: 0 1 25%;
   display: flex;

   flex-direction: column;
   align-items: center;
   @media (max-width: $mobile) {
      flex: 0 1 50%;
   }
   img {
      display: block;
      margin-bottom: 25px;
      @include adaptiveValue("width", 261, 139);
      @include adaptiveValue("height", 300, 161);
   }
   &__img {
      &_master {
         display: block;
         margin-bottom: 25px;
         width: auto;
         height: auto;
      }
   }

   &__title {
      display: block;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 102.99%;
      color: #323232;
      margin-bottom: 44px;
   }
}

//====================================================================================================
