//====================================================================================================
.fuulscreen {
   display: flex;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;
   @media (max-width: $mobile) {
      flex-direction: column-reverse;
      border: none;
   }
   &_famally {
      border: none;
      @media (min-width: $mobile) {
         background-color: #ebeeeb;
      }
      @media (max-width: $mobile) {
         flex-direction: column;
      }
   }
   &__img {
      flex: 0 1 50%;
      max-height: 774px;
      overflow: hidden;
      @media (max-width: $mobile) {
         max-height: 415px;
         height: 415px;
         width: 100%;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title {
      max-width: 514px;
      padding-bottom: 40px;

      @media (max-width: $mobile) {
         padding-bottom: 20px;
      }
      &_small {
         font-size: 24px;
         padding-top: 68px;
         @media (max-width: $mobile) {
            padding-top: 0;
         }
      }
   }
   &__content {
      flex: 0 1 562px;
      display: flex;
      align-items: center;
      padding: 0px 15px 0px 38px;
      @media (max-width: $mobile) {
         height: 100vh;
         padding: 30px 15px 0px 38px;
      }
      &_famally {
         height: auto;
         @media (max-width: $mobile) {
            flex: 0 1 auto;
         }
      }
   }

   &__wrapper {
      max-width: 600px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @media (max-width: $mobile) {
         height: 100vh;
         overflow: hidden;
         justify-content: space-between;
      }
      &_famally {
         height: auto;
      }
   }

   &__body {
   }

   &__label {
      display: block;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      padding-bottom: 17px;
      padding-top: 15px;
      @media (max-width: $mobile) {
         max-width: 200px;
         padding-bottom: 40px;
         padding-top: 40px;
      }
   }

   &__sub-title {
      display: block;
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;
      padding-bottom: 70px;
      @media (max-width: $mobile) {
         padding-bottom: 40px;
      }
   }

   &__footer {
      align-self: flex-end;
      display: flex;
      padding-top: 15px;
      padding-bottom: 15px;
      @media (max-width: $mobile) {
         padding-top: 27px;
         align-self: flex-start;
         padding-bottom: 40px;
      }
      a {
         &:not(:last-child) {
            margin-right: 40px;
         }
      }
   }

   &__tumblr {
   }

   &__twitter {
   }

   &__facebook {
   }
}
.brand {
   &__container {
      @include adaptiveValue("padding-top", 160, 90);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 100, 60);
      width: 100%;
   }

   &__items {
      display: flex;
      margin-bottom: 10px;
      @media (max-width: $mobile) {
         flex-direction: column;
         width: 100%;
         flex: 0 1 auto;
      }
   }

   &__item {
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #323232;
      padding-bottom: 14px;
      border-bottom: 3px solid #715b4b;
      &:not(:last-child) {
         margin-right: 46px;
      }
      flex: 0 1 33%;
      @media (max-width: $mobile) {
         &:not(:first-child) {
            padding-top: 40px;
         }

         &:not(:last-child) {
            margin-right: 0px;
         }
      }
   }
}
.age {
   &__container {
      @include adaptiveValue("padding-top", 160, 90);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 100, 60);
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $mobile) {
      }
   }

   &__item {
   }
}

.item {
   cursor: pointer;
   flex: 0 1 25%;
   border: 1px solid #000000;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   @include adaptiveValue("height", 251, 184);
   transition: all 0.5s ease 0s;
   @media (max-width: $mobile) {
      flex: 0 1 50%;
   }
   &:hover {
      background: #a1b29f;
      img {
         transform: translateY(-10px);
      }
      .item__title {
         color: #715b4b;
         font-weight: 400;
      }
   }
   img {
      display: block;
      margin-bottom: 20px;
      width: 100px;
      height: 100px;
      transition: all 0.5s ease 0s;
   }

   &__title {
      display: block;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 102.99%;
      color: #323232;
   }
}
.video {
   &__container {
      @include adaptiveValue("padding-top", 160, 90);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 100, 20);
   }

   &__block {
      height: 700px;
      @include adaptiveValue("height", 700, 227);

      video {
         width: 100%;
         height: 100%;
      }
   }
}

//====================================================================================================
